/* !FOCUSED IMAGES */
/*-----------------------------------------*/
.focuspoint {
    position: relative; /*Any position but static should work*/
    overflow: hidden;
    height: 350px;
}

    .focuspoint img {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        display: block;
        /* fill and maintain aspect ratio */
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        max-height: 450px;
        max-width: none;
    }
