/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.spacer10 {
    height: 10px;
}

.spacer20 {
    height: 20px;
}

.spacer40 {
    height: 40px;
}

.spacer80 {
    height: 80px;
}

/* Filters */
.h4-filter-header {
    font-size: 1.65rem;
    margin-bottom: 1.1em;
    margin-top: 1.6em;
}

#results-data {
    font-size: 1.65rem;
    margin-top: 1.2em;
    margin-bottom: 0.75em;
}

.tab-pane {
    padding: 40px;
}

/* Events Grid */
.constrain-height {
    max-height: 250px;
}

    .constrain-height:after {
        background-image: linear-gradient(to bottom, transparent, #f2f2f2);
    }

.tab-pane {
    padding: 0;
}

.tab-icon {
    padding: 0 10px 5px 5px;
}

.tab-label {
    padding: 0 10px 0 0;
}

#events-grid {
    min-height: 200px;
}

    #events-grid .white-drop {
        background-color: #fff;
        border: 1px solid #000;
        box-shadow: 3px 3px 10px #aaa;
        margin: 0 10px 0 0;
    }

    #events-grid .material-surface .card-body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    #events-grid .material-surface .card-body__inner {
        overflow: hidden;
        position: relative;
    }

        #events-grid .material-surface .card-body__inner:after {
            bottom: 0;
            content: "";
            height: 25%;
            position: absolute;
            left: 0;
            width: 100%;
        }

    #events-grid .material-surface .card-body__read-more {
        margin-top: 10px;
        float: left;
        border: none;
        display: block;
        visibility: hidden;
        color: #0067b8;
        padding: 0 0 5px 0;
        font-weight: 600;
        background: none;
        text-align: left;
    }

    #events-grid .material-surface .card-body .card-body__inner h3 {
        cursor: default;
    }

    #events-grid .material-surface .card-body h5 {
        margin: 1em 0 .2em 0;
    }

    #events-grid .material-surface .card-body .card-body__inner span {
        background: transparent !important;
    }

    #events-grid .material-surface .card-body .card-body__inner .paragraph {
        background: transparent !important;
    }

    #events-grid .card-footer {
        margin-top: auto; /* this keeps the buttons aligned to the bottom */
        padding-top: 1.75em;
    }

        #events-grid .card-footer .link-group a {
            margin-bottom: 0;
        }

/* Timezone */
.timezone .d-none {
    display: block !important;
}

.timezone__inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.timezone__heading {
    padding-left: 0;
    padding-right: 0;
}

    .timezone__heading h3 {
        margin-bottom: 0.2em;
    }

.timezone__dropdown label {
    margin-bottom: 0 !important;
}

.timezone__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0;
    padding-right: 0;
}

/* Timezone Media Queries */
@media (min-width: 576px) {
    .timezone__dropdown {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .timezone__inner {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .timezone__dropdown {
        justify-content: flex-end;
    }
}

/* event detail page */
@media (min-width: 500px) {
    .event-detail-spotlight-badge {
        width: 100px;
        padding: 0 0 15px 0;
    }
}

@media (min-width: 768px) {
    .event-detail-spotlight-badge {
        width: 150px;
        float: right;
        padding: 0 0 200px 0;
        margin-left: 40px;
    }
}

@media (min-width: 1082px) {
    .event-detail-spotlight-badge {
        width: 200px;
        float: right;
        padding: 0 0 200px 0;
        margin-left: 80px;
    }
}

/* Workshops - Event Detail 50-50 */
@media (min-width: 860px) {
    .event-detail__50-50 .row .col-12:nth-child(2) {
        padding-left: 5em;
    }
}

/* IE 11 Fix */
.slim-hero--right .material-surface .row {
    min-height: 100%;
}

/* UHF nav fixes  */
#search {
    margin-top: -2px !important;
}

#uhf-shopping-cart {
    margin-top: 3px !important;
}

#search, #uhf-shopping-cart {
    color: #262626;
}


.no-after:after {
    content: none;
}

#keyword-search, #keyword-search-button {
    border-color: #000 !important;
}
