@page "{locale}/store/workshops-training-and-events/{id}"

@model VirtualCommunities.Pages.EventDetailModel

<partial name="../Shared/MWF/_MWF_Breadcrumb" model="Model.breadcrumb" />

<section class="container">
    <div class="row">
        <div class="col-md-10 align-self-stretch py-5">
            <img class="event-detail-spotlight-badge" src="@Model.Event.EventImage" />
            <h1 class=" ">@Model.Event.name</h1>
            <div class="mb-4">
                <p>@Html.Raw(Model.Event.description)</p>
            </div>
            <div class="link-group">
                <a href="@Model.Event.registrationUrl" class="btn btn-primary" aria-label="@Html.Raw(Model.eclm.registerLabel)">@Html.Raw(Model.eclm.registerLabel)</a>
                @*<a href="/AddToCalendar/@ViewData["locale"]/@Model.Event.eventId" class="cta" aria-label="Add to calendar">Add to calendar</a>*@
            </div>
        </div>
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Timezone" model="Model.tzm" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />

<section class="container event-detail__50-50">
    <div class="row">
        <div class="col-12 mb-5 col-md-5 mb-md-0" style="border-right: 1px solid #ccc;">
            <h5>@Html.Raw(Model.dateTimeLabel)</h5>
            <p>
                @Model.Event.LocalStartDateString<br />
                @Model.Event.LocalStartTimeString&nbsp;-&nbsp;@Model.Event.LocalEndTimeString (@Model.Event.LocalTimeZone)
            </p>
            @*<h5>@Html.Raw(Model.eclm.hostedLabel)</h5>
            <p>
                @Model.eclm.storeAtLabel @Model.Event.retailLocation<br />
                @Model.Event.CityStateCountryString<br />
            </p>*@
        </div>
        <div class="col-12 mb-5 col-md-7 mb-md-0">
            @*<h5>@Html.Raw(Model.eclm.audiencesLabel)</h5>
                <p>@Html.Raw(Model.Event.AudiencesList)</p>*@
            <h5>@Html.Raw(Model.eclm.topicsLabel)</h5>
            <p>@Html.Raw(Model.Event.TopicsList)</p>
        </div>
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer80")" />

@*<section class="container">
    <div class="row">
        <h3 class="h3 x-hidden-focus">@Html.Raw(Model.eclm.relatedEventsLabel)</h3>
    </div>
</section>

<section class=" container">
    <div id="events-grid" class="row">
        @if (Model.RelatedEvents != null)
        {
            foreach (var item in Model.RelatedEvents)
            {
                if (item != null)
                {
                    @Html.Raw(item.ToHtmlString(Model.eclm, Model.locale))
                }
            }
        }
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />*@

<script>
    $(document).ready(function () {
        // set the user's timezone in the dropdown
        setTimeZone();
    });
</script>
