﻿@page "{locale}"
@model VirtualCommunities.Pages.IndexModel

<partial name="../Shared/MWF/_MWF_Breadcrumb" model="Model.breadcrumb" />

<partial name="../Shared/MWF/_MWF_MultiHero" model="Model.hero" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer80")" />

<partial name="../Shared/MWF/_MWF_Timezone" model="Model.tzm" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />

<partial name="../Shared/MWF/_MWF_TabHeader" model="Model.tab_headers" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />

<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="tab-content">
                <div id="results-tab" class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab1-tab" tabindex="0">
                    <partial name="../Shared/MWF/_MWF_SearchFilter" model="Model.fcm" />
                    <div id="events-grid" class="row">
                    </div>
                </div>
            </div>
            <a href="#all-tab" class="btn btn-link sr-only-focusable-btn position-absolute bottom-0" data-focus="back-to-tabs">@Html.Raw(Model.fcm.BackToTabsLabel)</a>
            <div class="hr border-width-1 mt-5"></div>
        </div>
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer10")" />

<partial name="../Shared/MWF/_MWF_Pagination" model="Model.pcm" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />

<script src="/en-us/store/workshops-training-and-events/js/events.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {

        // set the user's timezone in the dropdown
        setTimeZone();

        // load the events
        refreshEvents();
    });
</script>
