﻿@page "{locale}"
@model VirtualCommunities.Pages.ShelbyModel

<partial name="../Shared/MWF/_MWF_Breadcrumb" model="Model.breadcrumb" />

<section class="container">
    <div class="card material-surface ">
        <div class="row m-0 h-100">
            <div class="col-md-7 p-0 pl-md-g align-self-stretch">
                <picture>
                    <source srcset="/en-us/store/workshops-training-and-events/images/shelby-hero-1842x1036-1x.jpg, /en-us/store/workshops-training-and-events/images/shelby-hero-3684x2072-2x.jpg 2x" media="(min-width: 1400px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/shelby-hero-1468x826-1x.jpg, /en-us/store/workshops-training-and-events/images/shelby-hero-2972x1652-2x.jpg 2x" media="(min-width: 1084px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/shelby-hero-1236x1236-1x.jpg, /en-us/store/workshops-training-and-events/images/shelby-hero-2472x2472-2x.jpg 2x" media="(min-width: 860px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/shelby-hero-1718x966-1x.jpg, /en-us/store/workshops-training-and-events/images/shelby-hero-3436x1932-2x.jpg 2x" media="(min-width: 540px)">
                    <img src="/en-us/store/workshops-training-and-events/images/shelby-hero-1078x606-1x.jpg" class="img-fluid img-object-cover" alt="mother and child working on a computer in the kitchen">
                </picture>
            </div>
            <div class="col-md-5 order-md-first pl-xl-g pr-xl-0 d-flex py-2 py-sm-0 px-lg-4">
                <div class="card-body py-4 py-sm-5 px-g px-sm-4 pl-md-4 pr-md-g px-xl-5 align-self-center">
                    <h1 class="h1">Welcome Shelby County School District</h1>
                    <div class="my-4">
                        <p>Need assistance with your new Surface Go 2? Our Microsoft Store associates are here to help you Monday-Friday, 10:00 AM - 6:00 PM CST.</p>
                    </div>
                    <!-- Container for button -->
                    <div id="lpChatButton">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />

<partial name="../Shared/MWF/_MWF_Timezone" model="Model.tzm" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />

<section class="container">
    <div class="row">
        <div class="col-12">
            <partial name="../Shared/MWF/_MWF_SearchFilter" model="Model.fcm" />
            <div id="events-grid" class="row">
            </div>
        </div>
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Pagination" model="Model.pcm" />*@

<script src="/en-us/store/workshops-training-and-events/js/events.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {

        // set the user's timezone in the dropdown
        //setTimeZone();

        // load the events
        //refreshEvents();

        setTimeout("clearLivePersonSpinner();", 8000);
    });

    function clearLivePersonSpinner() {
        $("#lpChatButton").css("background-image", "none");
    }
</script>

<style>
    #lpChat button:focus, #lpChat input:focus, #lpChat textarea:focus, #lpChat select:focus, #lpChat a:focus {
        outline: red solid 2px !important;
    }

    #lpChatButton {
        background-image: url('/en-us/store/workshops-training-and-events/images/loading-gray.gif');
        background-size: 36px;
        background-repeat: no-repeat;
        background-position-y: center;
        min-height: 40px;
    }

        #lpChatButton button {
            background-color: #0067b8;
            color: #fff !important;
            border-radius: .125rem;
            border: .125rem solid transparent;
            padding: .625rem .75rem;
            font-weight: 600;
            line-height: 1;
        }

            #lpChatButton button:hover {
                box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.13), 0 0 0.0625rem 0 rgba(0,0,0,.11);
                background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1));
            }
</style>

<script type="text/javascript">
    var lpTag = lpTag || {}, lpMTagConfig = lpMTagConfig || {}; lpTag.vars = lpTag.vars || []; lpTag.dbs = lpTag.dbs || []; lpTag.sdes = lpTag.sdes || [];

    // Set the section here, the second perameter is for some pages that pass a value if they want an invite.
    lpTag.section = "education-retail-en-us";

    // mTagConfig : Creates connection with LP servers and inits communication.
    window.lpTag = window.lpTag || {}, 'undefined' == typeof window.lpTag._tagCount ? (window.lpTag = { wl: lpTag.wl || null, scp: lpTag.scp || null, site: '60270350' || '', section: lpTag.section || '', tagletSection: lpTag.tagletSection || null, autoStart: lpTag.autoStart !== !1, ovr: lpTag.ovr || {}, _v: '1.10.0', _tagCount: 1, protocol: 'https:', events: { bind: function (t, e, i) { lpTag.defer(function () { lpTag.events.bind(t, e, i) }, 0) }, trigger: function (t, e, i) { lpTag.defer(function () { lpTag.events.trigger(t, e, i) }, 1) } }, defer: function (t, e) { 0 === e ? (this._defB = this._defB || [], this._defB.push(t)) : 1 === e ? (this._defT = this._defT || [], this._defT.push(t)) : (this._defL = this._defL || [], this._defL.push(t)) }, load: function (t, e, i) { var n = this; setTimeout(function () { n._load(t, e, i) }, 0) }, _load: function (t, e, i) { var n = t; t || (n = this.protocol + '//' + (this.ovr && this.ovr.domain ? this.ovr.domain : 'lptag.liveperson.net') + '/tag/tag.js?site=' + this.site); var o = document.createElement('script'); o.setAttribute('charset', e ? e : 'UTF-8'), i && o.setAttribute('id', i), o.setAttribute('src', n), document.getElementsByTagName('head').item(0).appendChild(o) }, init: function () { this._timing = this._timing || {}, this._timing.start = (new Date).getTime(); var t = this; window.attachEvent ? window.attachEvent('onload', function () { t._domReady('domReady') }) : (window.addEventListener('DOMContentLoaded', function () { t._domReady('contReady') }, !1), window.addEventListener('load', function () { t._domReady('domReady') }, !1)), 'undefined' === typeof window._lptStop && this.load() }, start: function () { this.autoStart = !0 }, _domReady: function (t) { this.isDom || (this.isDom = !0, this.events.trigger('LPT', 'DOM_READY', { t: t })), this._timing[t] = (new Date).getTime() }, vars: lpTag.vars || [], dbs: lpTag.dbs || [], ctn: lpTag.ctn || [], sdes: lpTag.sdes || [], hooks: lpTag.hooks || [], identities: lpTag.identities || [], ev: lpTag.ev || [] }, lpTag.init()) : window.lpTag._tagCount += 1;

    function lpBindButton() {
        function lpButtonShow(eventData, eventInfo) {
            var elements = document.getElementsByClassName("LPMcontainer");
            var elementLength = elements.length;

            for (var i = elementLength; i--;) {
                var element = elements[i];

                element.onclick = function () {
                    lpTag.sdes.push({
                        "type": "lead",
                        "lead": { "topic": "EducationRetail" }
                    });
                }
            }
        }
        lpTag.events.bind("LP_OFFERS", "OFFER_DISPLAY", lpButtonShow);
    }

    lpTag.events.bind('LP_OFFERS', 'START', lpBindButton);
</script>
