﻿@page "{locale}"
@model VirtualCommunities.Pages.SpotlightModel

<partial name="../Shared/MWF/_MWF_Breadcrumb" model="Model.breadcrumb" />

<partial name="../Shared/MWF/_MWF_Hero" model="Model.hero" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />

@*<partial name="../Shared/MWF/_MWF_SlimHeroRight" model="Model.slim_hero_right" />*@

<partial name="../Shared/MWF/_MWF_Quick_Links" model="Model.quick_links" />

@if (Model.ShowWonderWomanBlade)
{
    <partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />
    <partial name="../Shared/MWF/_WW" />
    <partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />
}
else
{
    <section class="container">
        <div class="hr border-neutral-200"></div>
    </section>
}

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer40")" />

<partial name="../Shared/MWF/_MWF_Timezone" model="Model.tzm" />

<partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />

<section class="container">
    <div class="row">
        <div class="col-12">
            <partial name="../Shared/MWF/_MWF_SearchFilter" model="Model.fcm" />
            <div id="events-grid" class="row">
            </div>
        </div>
    </div>
</section>

<partial name="../Shared/MWF/_MWF_Pagination" model="Model.pcm" />

@if (Model.ShowWonderWomanBlade)
{
    <partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer20")" />

    <section class="container">
        <div class="hr border-neutral-200"></div>
    </section>

    <partial name="../Shared/MWF/_MWF_Spacer" model="@("spacer10")" />
    <partial name="../Shared/MWF/_WW2" />
}

<script src="/en-us/store/workshops-training-and-events/js/events.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {

        spotlight = '@Model.spotlightId';

        @*// set the spolight id for the API call
        if (location.hash.length == 0) {
            location.hash = "#spotlight=" + @Model.spotlightId;
        }
        else {
            if (location.hash.indexOf("spotlight") == -1) {
                location.hash += "&spotlight=" + @Model.spotlightId;
            }
        }*@

        // set the user's timezone in the dropdown
        setTimeZone();

        // load the events
        refreshEvents();
    });
</script>
