﻿@page
@model VirtualCommunities.Pages.SweepstakesModel
<style>
    p {
        padding: 0;
        margin: 0 0 1em 0;
    }
</style>

<partial name="../Shared/MWF/_MWF_Breadcrumb" model="Model.breadcrumb" />

<section class="container">

    <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">

        <p align=center>
            <b><i>Wonder Woman 1984</i> &amp; Microsoft Summer Camp Sweepstakes</b><br />
            <b><u>OFFICIAL RULES</u></b>
        </p>

        <p>&nbsp;</p>

        <p>
            <b>
                NO PURCHASE OR PAYMENT IS NECESSARY TO ENTER OR WIN. A PURCHASE OR PAYMENT WILL NOT IMPROVE
                YOUR CHANCES OF WINNING. VOID WHERE PROHIBITED. INTERNET ACCESS IS REQUIRED FOR
                ENTRY. ALL DISPUTES WILL BE RESOLVED SOLELY BY BINDING ARBITRATION AND ENTRANTS
                WAIVE THE ABILITY TO BRING CLAIMS IN A CLASS ACTION FORMAT.
            </b>
        </p>
        <p>
            <b><u>SWEEPSTAKES ENTRY PERIOD &amp; SPONSOR:</u></b>
            The <i>Wonder Woman 1984</i> &amp; Microsoft Summer Camp Sweepstakes (<b>&quot;Sweepstakes&quot;</b>)
            promoting the motion picture &quot;Wonder Woman 1984&quot; (<b>&quot;Picture&quot;</b>)
            starts at 12:01 am Pacific Time (&quot;<b>PT</b>&quot;) on 8/10/20 and ends at
            11:59 pm PT on 8/23/20 for entry online (the <b>&quot;Online Entry Period&quot;</b>)
            and on 8/24/20 for the postmarking of an entry submitted by mail with both
            methods as detailed below.
        </p>

        <p>
            The sponsor (<b>&quot;Sponsor&quot;</b>) of the Sweepstakes is
            Microsoft, One Microsoft Way, Redmond, WA 98052. The Sweepstakes is subject to
            these official rules (the <b>&quot;Official Rules&quot;</b>) and by entering,
            entrant agrees to be bound by the terms and conditions herein and to all
            applicable federal, state and local laws.
        </p>

        <p>
            <b><u>ELIGIBILITY:</u></b>
            The Sweepstakes is open only to legal residents of the fifty (50) United States and the District
            of Columbia (collectively, the <b>&quot;Eligibility Area&quot;</b>), who as of
            the date of their Entry (defined below) into the Sweepstakes are thirteen (13)
            years of age or older. Directors, officers, employees and their immediate
            family members (spouses, parents, legal guardians, in-laws, grandparents,
            siblings, children and grandchildren) and those living in the household of same
            (whether legally related or not) of Sponsor, Wasserman (<b>&quot;Administrator&quot;</b>),
            West Coast Marketing, a division of The Susquehanna Hat Company (<b>
                &quot;West Coast Marketing&quot;
            </b>), Warner Bros. Entertainment Inc., and each of their
            respective parent companies, successors, subsidiaries, affiliates, related
            entities, and advertising and promotion agencies (collectively, the <b>&quot;Sweepstakes Entities&quot;</b>) are not eligible to enter or win. If the prize is
            won by an individual considered to be a minor in his/her jurisdiction of
            residence (<b>&quot;Minor&quot;</b>) it will be awarded in the name of said
            Minor's parent or legal guardian. This Sweepstakes is void outside the Eligibility
            Area and where prohibited by law. <b>
                A MINOR SHOULD HAVE HIS OR HER PARENT'S OR LEGAL GUARDIAN'S PERMISSION PRIOR TO ENTERING THE SWEEPSTAKES.
            </b>
        </p>
        <p>
            <b><u>HOW TO ENTER:</u></b>
            There are two (2) ways to enter the Sweepstakes: (1) online during the Online Entry
            Period by viewing Microsoft Summer Camp coding lessons available on Sponsor's
            web site located at
            <a href="https://www.microsoft.com/en-us/store/workshops-training-and-events/digital-passport#spotlight=302" target="_blank">
                https://www.microsoft.com/en-us/store/workshops-training-and-events/digital-passport#spotlight=302
            </a> (<b>&quot;Sweepstakes  Site&quot;</b>) to their conclusion when the instructor will announce the
            special codeword (<b>&quot;Codeword&quot;</b>) necessary for entering online<b>;</b>
            with any such submitted online entry referred to herein as an &quot;<b>Online Entry</b>&quot; and
            collectively as &quot;<b>Online Entries</b>&quot; or (2) by
            submitting an entry via U.S. mail with no requirement for the Codeword; with
            any such submitted mail-in entry referred to herein as a &quot;<b>Mail-in Entry</b>&quot;
            and collectively as &quot;<b>Mail-in Entries</b>&quot;. Details regarding each
            of the two (2) specific methods of entry are stated below.
        </p>

        <p>
            Online Entry and Mail-in Entry may be referred to herein <b>individually</b> as an &quot;<b>Entry</b>&quot; and collectively as
            &quot;<b>Entries</b>&quot;. Each individual submitting an Entry may be referred to as an &quot;<b>Entrant</b>&quot;.
        </p>

        <p>
            <b>NOTE: THERE IS A LIMIT OF ONE (1) ENTRY (TOTAL) PER PERSON/EMAIL ADDRESS AND/OR HOUSEHOLD PER CALENDAR DAY DURING THE SWEEPSTAKES.</b>
        </p>

        <p>
            Details of the methods of Entry are as follows:
        </p>

        <p style="font-size: 18px;">
            <b><i>(1) <u>How to Enter the Sweepstakes via Online Entry Form:</u></i></b>
        </p>
        <p>During the Online Entry Period:</p>
        <p>Visit the Sweepstakes Site and</p>
        <ol style="list-style: lower-roman;">
            <li>View the Microsoft Summer Camp coding lesson to its conclusion when the Codeword will be revealed, and</li>
            <li>Enter the Codeword and all required personal information where indicated, and</li>
            <li>Click &quot;submit&quot; completing your entry.</li>
        </ol>
        <p>&nbsp;</p>
        <p>
            By successfully entering the Codeword and all required personal information
            and subject to the
            rest of the terms and conditions set forth in these Official Rules (including, without limitation, all eligibility
            requirements
            and Online Entry Period details), you will receive one (1)
            <b>Online Entry </b>
            into the Sweepstakes.
        </p>
        <p>
            An Online Entry is &quot;received&quot; online when the Sponsor's server records the Online Entry information
            consisting of the personal information and the Codeword detailed above. Proof of sending (such as an automated computer receipt
            confirming Entry or &quot;thanks for entering&quot; message) does not constitute proof of actual receipt of an Online
            Entry.
        </p>
        <p>
            In order to enter via the Online Entry method, a service contract with a cellular telephone or wireless Internet
            or airtime provider may be required. Check with your service provider for availability and coverage. A
            wireless access point may be
            required. Cellular telephone service and/or wireless Internet services may require separately purchased contracts with
            a cellular telephone service provider or wireless Internet provider with coverage in your service area. Cellular telephone
            company and/or wireless Internet company determined fees may apply for all Internet usage. In the
            Sweepstakes you may be using data program time and you may be charged in accordance with your mobile services contract.
            MESSAGE AND DATA RATES MAY APPLY IF ENTERING BY USING ONLINE ENTRY METHOD. Contact your
            cellular telephone or wireless Internet provider or refer to your service contract for complete details on these
            and any other applicable charges. By entering the Sweepstakes online, you agree that Sponsor may contact you via email.
        </p>

        <p style="font-size: 18px;">
            <b><i>(2) <u>How to Enter by U.S. Mail:</u></i></b>
        </p>

        <p>
            To enter by U.S. mail, on a postcard, hand print your actual first and last name and residential address (as they appear
            on your driver's license or governmental identification) (no P.O. boxes), daytime telephone number and/or an email address,
            and mail to <i>Wonder Woman 1984</i> &amp; Microsoft Summer Camp Sweepstakes, 22287 Mulholland Highway, Box 396,
            Calabasas, CA 91302. Entry must be legible and completed in full to be valid. Machine duplicated or reproduced entries
            will not be accepted. Only one (1) individual's name may be on each Entry. By submitting the Entry as detailed
            herein <u>and subject to the entry limitations detailed herein</u>, you will receive one (1) mail-in entry
            (each a &quot;<b>Mail-In Entry</b>&quot;). <b>
                ALL MAIL-IN ENTRIES MUST BE POSTMARKED BY 8/24/20 AND RECEIVED BY 8/31/20.
            </b> All Mail-In Entries become property of Sponsor and will not be acknowledged or returned.
        </p>

        <p style="font-size: 18px;">
            <b>
                AS STATED ABOVE, THERE IS A LIMIT OF ONE (1) ENTRY PER PERSON/EMAIL ADDRESS/AND/OR HOUSEHOLD PER CALENDAR DAY DURING THE SWEEPSTAKES
            </b>
        </p>

        <p>
            Any attempt by any Entrant to enter using multiple/different email addresses, identities, registrations and logins, or
            any other impermissible methods will void that Entrant's Entry and that Entrant
            may be disqualified, at the sole discretion of Sponsor. Use of any automated system
            to participate in the Sweepstakes is prohibited and will result in
            disqualification. Sponsor is not responsible for lost, late, stolen, damaged,
            misdirected, undelivered, garbled, illegible, or otherwise defective, deficient
            or impermissible Entries, for postage-due mail, or for computer hardware or
            software failures, malfunctions, errors or difficulties of any kind, whether human,
            electronic, computer, mechanical, network, typographical, printing or otherwise relating to or in connection with the Sweepstakes,
            including, without limitation, errors or difficulties which may occur in
            connection with the administration of the Sweepstakes, the processing of
            Entries, the announcement or notification of the prizes or in any
            Sweepstakes-related materials.
        </p>

        <p>
            The Sponsor's database clock will be the official timekeeper for this Sweepstakes.
        </p>

        <p>
            All federal, state, and local rules and regulations apply.
        </p>

        <p>
            For purposes of this Sweepstakes, an Entry is &quot;received&quot; online when the Sponsor's server records the Entry information.
            Proof of sending (such as an automated computer receipt confirming Entry or &quot;thanks for entering&quot; message)
            or mailing does not constitute proof of actual receipt of an Entry for purposes of this Sweepstakes. Illegible
            and/or incomplete Entries and Entries submitted by Entrants who do not meet the
            eligibility requirements (including all requirements with respect to age and
            residence) are void. Those who do not follow all of the instructions, provide the required information in their
            Entry, or abide by these Official Rules or other instructions of Sponsor may be disqualified.
        </p>

        <p>
            <b><u>PRIVACY INFORMATION:</u></b>
            Entry in the Sweepstakes constitutes consent to transfer personal information collected from
            the Entrant to the Sponsor for the purposes of administering the Sweepstakes
            and for such other purposes to which an Entrant may consent as outlined in
            these Official Rules. More specifically, Sponsor and/or its third-party
            administration companies may collect information that an Entrant provides to
            enter the Sweepstakes and will use personal information an Entrant provides to
            enter the Sweepstakes to actually conduct the Sweepstakes. All information
            collected by Sponsor in connection with participation in the Sweepstakes will
            be subject to Sponsor's <b><u>Privacy Policy</u></b> statement as posted on
            Sponsor's Privacy Policy: <a href="https://privacy.microsoft.com/en-us/privacystatement"
                                         target="_blank">https://privacy.microsoft.com/en-us/privacystatement</a>.
            Sponsor may provide the personal information an Entrant provides to enter this Sweepstakes to third
            party administration companies for the sole purpose to administer this
            Sweepstakes and to process and deliver prizing to winner  subject to   the
            administrator's privacy statement available at <a href="https://www.teamwass.com/privacy">https://www.teamwass.com/privacy</a>.
            You understand that any personally identifiable information you provide shall be used only in a
            manner consistent with these Official Rules. If you are selected as a winner,
            you agree to be contacted by Sponsor or Administrator and if you accept a prize
            you agree that your name will be posted on the winner list and administrator
            may retain winners' personal information in accordance with its privacy policy.
        </p>

        <p>
            Sponsor agrees to ensure that the collection of all personal information complies with
            (i) all applicable laws, including without limitation, all state and federal
            laws, corporate standards, policies, regulations, as well as the General Data
            Protection Regulation (&quot;GDPR&quot;) (collectively &quot;Applicable
            Laws&quot;) (ii) the principles, guidelines, rules and codes of conduct of
            self-regulatory organizations such as the Digital Advertising Alliance, the
            Interactive Advertising Bureau, the Direct Marketing Association, and other
            self-regulatory organizations to which third parties providing services,
            platforms, and data are bound, and any required notices and consents; and (iii)
            privacy disclosures and information collection requirements imposed on
            advertisers by targeting of media in order to comply with Applicable Laws.
            Where required by Applicable Laws, Sponsor will deploy appropriate notices and
            functionality to obtain authorizations and consents as required.
        </p>

        <p>
            <b><u>WINNER SELECTION AND NOTIFICATION:</u></b>
            One (1) potential Grand Prize (defined below) winner will be selected in a random drawing on or about 9/1/20 from among all
            eligible Entries received for the Sweepstakes. Random drawing will be conducted
            by West Coast Marketing, an independent judging organization. Decisions of
            Sponsor, Administrator and West Coast Marketing shall be final and binding in
            all matters relating to this Sweepstakes. The potential Grand Prize winner will
            be notified by email or telephone within one (1) day of the random drawing and
            will be required to provide complete contact information and verify eligibility
            in the Sweepstakes within the time limit stated at time of notification or
            prize will be forfeited and an alternate potential Grand Prize winner selected
            in a subsequent random drawing.
        </p>

        <p>
            Potential Grand Prize winner (or potential Grand Prize winner's parent or legal guardian
            if the potential Grand Prize winner is a Minor) may be required to execute and
            return a notarized Affidavit of Eligibility/Release of Liability and (except
            where prohibited) a Publicity Release form, a completed IRS W-9 form and any
            other documentation required by Sponsor (collectively the <b>&quot;Required Documents&quot;</b>)
            within seven (7) days of date of issuance of notification.
        </p>

        <p>
            Potential Grand Prize winner's failure to return all Required Documents in this seven (7)
            day time period, or to comply with any other provision herein, may result in
            the potential Grand Prize winner being disqualified and (time permitting) an
            alternate potential Grand Prize winner may or may not be selected at Sponsor's
            sole discretion.
        </p>

        <p>
            A maximum of three (3) alternate prize winner selections will be held after which
            the Grand Prize will remain unawarded. Grand Prize winner may be referred to
            hereafter individually as the <b>&quot;Prize Winner&quot;</b>.
        </p>

        <p>
            Sponsor is not responsible for any failure of attempted delivery of notice using the
            above-referenced notification methods.
        </p>

        <p>
            If any prize notification or prize is returned as undeliverable for any reason and
            Sponsor or its representative is unable to contact potential Prize Winner in a
            timely manner (as determined by Sponsor), prize will be forfeited and an
            alternate potential Prize Winner selected in a subsequent random drawing
            subject to the conditions set forth herein.
        </p>

        <p>
            Acceptance of the prize constitutes permission (except where prohibited) granted to
            Sponsor to use the Prize Winner's name, likeness, picture, voice, biographical
            information, Entry and statements for publicity, advertising, trade and
            promotional purposes in connection with the Sweepstakes in any and all media and
            manner, and by any and all means now known or hereafter devised in perpetuity
            worldwide without additional consideration, compensation or limitation of any
            kind, and without the need to get any further consent. Any and all such
            recordings shall at all times be owned by, and the exclusive property of,
            Sponsor.
        </p>

        <p>
            Prize is not transferable, assignable, or redeemable for cash. No prize substitution
            will be allowed. If necessary, due to unavailability of the prize for any
            reason, a prize of equal or greater value may be awarded at the sole discretion
            of the Sponsor. Prize may not be sold, bartered or exchanged by Prize Winner.
            Prize is provided &quot;as is&quot; and without any warranty of any kind. By
            accepting the prize, the Prize Winner acknowledges and agrees to compliance
            with these Official Rules. All federal, state, and local tax liabilities
            are the responsibility of the Prize Winner.
        </p>

        <p><b><u>PRIZE:</u></b></p>

        <p>
            <i><u>Grand Prize:</u></i>
            There is one (1) Grand Prize available to be awarded in the Sweepstakes. The <b>&quot;Grand Prize&quot;</b>
            consists of one (1) &quot;Wonder Woman Lasso of Truth Xbox One X Console&quot; collectible display console
            (Approximated Retail Value, &quot;ARV&quot;, $100). and one (1) An Xbox One X 1 TB console (ARV $399). The
            &quot;Wonder Woman Lasso of Truth Xbox One X Console&quot; collectible display
            console is designed for display purposes ONLY and is not intended for actual
            gameplay. The total ARV of the Grand Prize is $499.00. Grand Prize may be
            referred to hereafter as the <b>&quot;Prize&quot;</b>.
        </p>

        <p>
            Awarding of the Prize is subject to the Prize Winner's acceptance of all requisite
            conditions within these Official Rules and Prize Winner's ability and agreement
            to grant the rights set forth in these Official Rules and all required
            documents detailed herein.
        </p>

        <p>
            <b><u>ODDS OF WINNING:</u></b>
            The odds of winning the Prize are determined by the total number of eligible
            Entries received throughout the Entry Period and are equal regardless of method of Entry.
        </p>

        <p>
            <b><u>RELEASES:</u></b>
            The Sweepstakes Entities and any and all Internet server(s) and access provider(s), and each
            and all of their respective parent corporations, successors, subsidiaries,
            affiliates, related entities, licensees, assigns, and all of their respective
            officers, directors, shareholders, employees, agents and representatives
            (collectively, <b>&quot;Releasees&quot;</b>) are not responsible for: any
            incorrect or inaccurate Entry information; human errors; technical
            malfunctions; failures, omissions, interruptions, deletions or defects of any
            telephone network, computer online systems, computer equipment, servers,
            providers, hardware or software, including without limitation any injury or
            damage to participant's or any other person's computer or wireless device
            relating to or resulting from participation in the Sweepstakes; theft,
            tampering, destruction, or unauthorized access to, or alteration of, Entries;
            data that is processed late or incorrectly or is incomplete or lost due to
            telephone, computer or electronic malfunction or traffic congestion on
            telephone lines or the Internet or any web site (including but not limited to
            the Sweepstakes Site) or for any other reason whatsoever; typographical,
            printing or other errors; the inability to access any website (including but
            not limited to the Sweepstakes Site); the inability to receive emails or
            telephone calls; any other Sweepstakes related materials including but not
            limited to mail which are late, lost, incomplete, misdirected, stolen,
            mutilated, illegible, or any combination thereof.
            Entrants, by participating in the Sweepstakes, agree that the Releasees shall have no
            liability whatsoever for, and shall be held harmless by Entrants against, any
            liability for any injuries, losses or damages of any kind, including, but not
            limited to, death or injury to persons, or property loss or damage, relating or
            resulting in whole or in part, directly or indirectly, from acceptance,
            possession, misuse or use of any prize or participation in this Sweepstakes.
            Proof of attempting to submit an Entry is not considered proof of delivery or
            receipt. Illegible or incomplete Entries, Entries in excess of the limits
            stated above and mechanically reproduced Entries will be disqualified. All
            Entries become the property of the Sponsor and will not be acknowledged or
            returned. False, fraudulent or deceptive Entries or acts shall render its
            Entrant(s) ineligible. By entering the Sweepstakes, Entrants affirm that they
            have read and accepted these Official Rules.
        </p>

        <p>
            <b><u>GRANT OF RIGHTS:</u></b>
            By participating in the Sweepstakes, each Entrant (and the Entrant's parent or legal
            guardian if the Entrant is a Minor) hereby grants and agrees to grant to
            Sponsor and its affiliates, and to their respective successors, licensees,
            assignees and other authorized designees, a perpetual, fully-paid,
            royalty-free, transferable, fully sublicenseable, worldwide, irrevocable,
            non-exclusive right and license to reproduce, transcode, edit, modify, combine
            with others, create derivative works from, transmit, disseminate, distribute,
            re-use, re-post, make available, combine with other content, exhibit, perform,
            publish, display, use and otherwise exploit the Entrant's Entry information,
            and any comments or statements of the Entrant related to the Sweepstakes or any
            of the Sweepstakes Entities, all of the foregoing in any media, manner,
            technology or content delivery mechanism now known or hereinafter devised for
            the following purposes: (A) in connection with the Sweepstakes, its
            administration, promotion, advertising or publicity, and/or (B) as otherwise
            desired by Sponsor in its sole discretion other than in connection with the
            Sweepstakes, each of the foregoing without the necessity of obtaining further
            consent or making any payments.
        </p>

        <p>
            <b><u>ARBITRATION:</u></b>
            Except where prohibited by law, as a condition of participating in this Sweepstakes, Entrant
            agrees that any and all disputes and causes of action arising out of or
            connected with this Sweepstakes, shall be resolved individually, without resort
            to any form of class action, and exclusively by arbitration under JAMS
            Expedited Arbitration. The arbitration shall be conducted in King County before
            a single neutral arbitrator. The arbitrator shall follow Washington law and the
            Federal Rules of Evidence in adjudicating the dispute. Entrant waives the right
            to seek indirect, punitive, incidental and consequential damages and any other
            damages, other than for actual out-of-pocket expenses not to exceed fifty
            dollars ($50.00), and any and all rights to have damages multiplied or
            otherwise increased, and the arbitrator shall have no authority to award such
            damages. The determinations of the arbitrator shall be final and shall not be
            subject to judicial review; provided, however, that any award or determination
            rendered by the arbitrator may be entered in any court of competent
            jurisdiction. The expenses of arbitration, the fees and costs of legal counsel,
            experts and evidence shall be awarded to the prevailing party. In no event
            shall any Entrant seek or be entitled to obtain rescission, injunctive or other
            equitable relief.
        </p>

        <p>
            <b><u>CHOICE OF LAW / LIMITATION OF LIABILITY:</u></b>
            All issues and questions concerning the
            construction, validity, interpretation and enforceability of these Official
            Rules or the rights and obligations of Entrants and Releasees in connection
            with the Sweepstakes will be governed by and construed in accordance with the
            internal laws of the State of Washington, USA.
        </p>

        <p>
            BY ENTERING THE SWEEPSTAKES, ENTRANT AGREES THAT TO THE FULLEST EXTENT PERMITTED
            BY APPLICABLE LAW: (1) ANY AND ALL DISPUTES, CLAIMS AND CAUSES OF ACTION ARISING
            OUT OF OR CONNECTED WITH THE SWEEPSTAKES, OR ANY PRIZE AWARDED, WILL BE
            RESOLVED INDIVIDUALLY, WITHOUT RESORT TO ANY FORM OF CLASS ACTION; (2) ANY AND
            ALL CLAIMS, JUDGMENTS AND AWARDS WILL BE LIMITED TO ACTUAL THIRD-PARTY,
            OUT-OF-POCKET COSTS INCURRED (IF ANY) NOT TO EXCEED FIFTY DOLLARS ($50.00), BUT
            IN NO EVENT WILL ATTORNEYS' FEES BE AWARDED OR RECOVERABLE; (3) UNDER NO
            CIRCUMSTANCES WILL ANY ENTRANT BE PERMITTED TO OBTAIN ANY AWARD FOR, AND
            ENTRANT HEREBY KNOWINGLY AND EXPRESSLY WAIVES ALL RIGHTS TO SEEK, PUNITIVE,
            INCIDENTAL, CONSEQUENTIAL OR SPECIAL DAMAGES, LOST PROFITS AND/OR ANY OTHER
            DAMAGES, OTHER THAN ACTUAL OUT-OF-POCKET EXPENSES NOT TO EXCEED FIFTY DOLLARS
            ($50.00), AND/OR ANY RIGHTS TO HAVE DAMAGES MULTIPLIED OR OTHERWISE INCREASED;
            AND (4) ENTRANT'S REMEDIES ARE LIMITED TO A CLAIM FOR MONEY DAMAGES (IF ANY)
            AND ENTRANT IRREVOCABLY WAIVES ANY RIGHT TO SEEK INJUNCTIVE OR EQUITABLE
            RELIEF. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATIONS OR EXCLUSION OF
            LIABILITY, SO THE ABOVE MAY NOT APPLY TO YOU.
        </p>

        <p>
            <b><u>FORCE MAJEURE:</u></b>
            Releasees shall not be liable to Prize Winner or any other person for failure
            to supply a Prize or any part thereof, by reason of any acts of God, any
            action(s), regulation(s), order(s) or request(s) by any governmental or
            quasi-governmental entity (whether or not the action(s), regulation(s),
            order(s) or request(s) prove(s) to be invalid), equipment failure, terrorist
            acts, earthquake, war, fire, flood, explosion, unusually severe weather,
            hurricane, embargo, labor dispute or strike (whether legal or illegal), labor
            or material shortage, transportation interruption of any kind, work slow-down,
            civil disturbance, insurrection, riot, network or computer problems, internet
            problems, hacking, computer viruses, unauthorized computer access, tampering,
            or any other cause beyond Sponsor's sole control.
        </p>

        <p>
            <b><u>GENERAL:</u></b>
            If for any reason this Sweepstakes is not capable of running as planned, or if this Sweepstakes or any
            web site associated therewith (or any portion(s) thereof) becomes corrupted or
            does not allow the proper playing of the Sweepstakes and processing of Entries
            in accordance with these Official Rules, or if infection by computer virus,
            bugs, tampering, unauthorized intervention, actions by Entrants, fraud,
            technical failures, or any other causes, in the Sponsor's sole opinion,
            corrupts or affects the administration, security, fairness, integrity, or
            proper conduct of this Sweepstakes, the Sponsor reserves the right, at its sole
            discretion, to disqualify any individual implicated in such action and/or to
            cancel, terminate, modify, or suspend this Sweepstakes or any portion thereof.
            In the event this Sweepstakes is canceled, the Sponsor may (at Sponsor's sole
            discretion) conduct a random drawing to award the stated Prizes from among all
            eligible, non-suspect Entries received prior to the time of the action or event
            warranting such cancellation. If such cancellation, termination, modification,
            or suspension occurs, notification will be posted at Sweepstakes Site. The
            Releasees are not responsible for the actions of Entrants in connection with
            the Sweepstakes, including Entrants' attempts to circumvent the Official Rules
            or otherwise interfere with the administration, security, fairness, integrity
            or proper conduct of the Sweepstakes. Persons found tampering with or
            abusing any aspect of this Sweepstakes, or whom Sponsor believes to be causing
            malfunction, error, disruption or damage may be disqualified. Additionally, any
            attempt to cheat the Sweepstakes, as determined at the sole and absolute discretion
            of Sponsor, may result in immediate disqualification of the Entrant, as well as
            other possible consequences, including disqualification from any and all
            existing and future sweepstakes, contest or promotion. ANY ATTEMPT BY AN
            ENTRANT OR ANY OTHER INDIVIDUAL TO DAMAGE OR CORRUPT ANY WEB SITE (INCLUDING
            BUT NOT LIMITED TO THE SWEEPSTAKES SITE), OR UNDERMINE THE LEGITIMATE OPERATION
            OF THE SWEEPSTAKES IS A VIOLATION OF CRIMINAL AND/OR CIVIL LAWS AND SHOULD SUCH
            AN ATTEMPT BE MADE, THE SPONSOR RESERVES THE RIGHT TO SEEK DAMAGES AND OTHER
            REMEDIES FROM ANY SUCH PERSON TO THE FULLEST EXTENT PERMITTED BY LAW.
        </p>

        <p>
            Multiple Entrants may not share the same household address or email address.
        </p>

        <p>
            If a dispute arises about who submitted an Online Entry, the Online Entry will be
            deemed submitted by the authorized account holder of the email address used.
            The natural person who is assigned to an email address by an Internet access
            provider, service provider, or other online organization that is responsible
            for assigning email addresses for the domain associated with the submitted
            email address is deemed the authorized account holder of the email address used
            for the Online Entry. A potential Prize Winner may be requested to provide the
            Sponsor with proof that he/she is the authorized account holder of the email
            address associated with the winning Entry and that all eligibility requirements
            are met.
        </p>

        <p>
            In the event a dispute regarding the identity of the individual who actually
            submitted an Entry cannot be resolved to Sponsor's satisfaction, the affected
            Entry will be deemed ineligible. The Releasees are not responsible for
            electronic communications that are undeliverable as a result of any form of
            active or passive filtering of any kind, or insufficient space in Entrant's
            email account to receive email messages. Also, the Releasees are not
            responsible, and may disqualify an Entrant, if his or her email address or
            telephone number does not work or if it is changed without Entrant giving prior
            written notice to Sponsor.
        </p>

        <p>
            <b><u>NOTE:</u></b>
            Entry must be made by the Entrant only as detailed above. Entries made by any other individual or any
            entity, and/or originating at any other web site or email address, including,
            but not limited to, commercial sweepstakes subscription notification and/or
            entering service sites, will be declared invalid and disqualified for this
            Sweepstakes. Entries generated by a script, computer programs, macro,
            programmed, robotic or other automated means are void and may be disqualified.
            The use of any device or software to automate the Entry process is
            prohibited. Entries or other Sweepstakes materials that are incomplete,
            illegible, corrupted, damaged, destroyed, forged, false, lost, late,
            misdirected, postage due, deceptive, in greater quantity than the limit stated
            above or otherwise not in compliance with the Official Rules may be
            disqualified from the Sweepstakes at Sponsor's sole and absolute discretion.
        </p>

        <p>
            <b><u>MISCELLANEOUS:</u></b>
            The invalidity or unenforceability of any provision of these Official Rules will not affect the
            validity or enforceability of any other provision. In the event that any
            provision of the Official Rules is determined to be invalid or otherwise
            unenforceable or illegal, the other provisions will remain in effect and will
            be construed in accordance with their terms as if the invalid or illegal
            provision were not contained herein. Sponsor's failure to enforce any term of
            these Official Rules will not constitute a waiver of that provision. Entrants
            agree to waive any rights to claim ambiguity of these Official Rules. Headings
            are solely for convenience of reference and will not be deemed to affect in any
            manner the meaning or intent of the documents or any provision hereof. In the
            event there is a discrepancy or inconsistency between disclosures or other
            statements contained in any Sweepstakes-related materials, privacy policy or
            terms of use on the Entry Site and/or the terms and conditions of the Official
            Rules, the Official Rules shall prevail, govern and control and the discrepancy
            will be resolved in Sponsor's sole and absolute discretion.
        </p>

        <p>
            <b><u>NO INJUNCTIVE RELIEF:</u></b>
            EACH ENTRANT UNDERSTANDS AND AGREES THAT HE/SHE SHALL HAVE
            NO RIGHT TO ENJOIN OR RESTRAIN THE DEVELOPMENT, PRODUCTION, ADVERTISING,
            PROMOTION, DISTRIBUTION OR EXPLOITATION OF THE SWEEPSTAKES OR THE PICTURE,
            OR ANY PRODUCTION OR PROJECT OF SWEEPSTAKES ENTITIES OR ANY OF THEIR
            RESPECIVE AFFILIATES.
        </p>

        <p>
            <b><u>WINNERS LIST/OFFICIAL RULES:</u></b>
            For an Official Winners List (available after 10/15/20) or a copy of these Official Rules,
            send a self-addressed, stamped envelope to: <i>Wonder Woman 1984</i> &amp; Microsoft Summer Camp Sweepstakes
            (<i>please specify Official Winners List or Official Rules</i>), P.O. Box 9142, Calabasas, CA 91372.
            Residents of Vermont with a return address in Vermont may omit the return
            postage on their Official Rules request. Official Rules are also available at
            participating Microsoft retail locations during the Online Entry Period.
        </p>

        <p>
            <b>Sweepstakes Administrator.</b>
        </p>

        <p>
            Wasserman Media Group 10900 Wilshire Blvd. Ste. 1200, Los Angeles, CA 90024.
            Administrator and its agents are not the supplier or guarantor of any prize.
        </p>

        <p>
            <b>Sponsor.</b>
        </p>

        <p>
            Microsoft, One Microsoft Way, Redmond, WA 98052<br />
            &copy; 2020 Microsoft. All Rights Reserved.
        </p>

        <p>
            WONDER WOMAN 1984 and all related characters and elements &copy; &amp; &trade; DC Comics and Warner Bros. Entertainment Inc.
        </p>

        <p>
            Warner Bros. Entertainment Inc. and its parent, affiliates and subsidiaries are not responsible for the promotion,
            administration or execution of this Sweepstakes.
        </p>

        <p>
            &quot;Wonder Woman Lasso of Truth Xbox One X Console&quot; console is designed for display
            purposes ONLY and not intended for actual gameplay. Prize also includes standard Xbox One X.
        </p>

    </div>
</section>