﻿@model TimeZoneModel
@using VirtualCommunities.Classes
@using System.Collections.ObjectModel
@using TimeZoneConverter

<!-- timezone -->
<section class="timezone container">

    <div class="row">

        <div class="timezone__inner col-12">
            <div class="timezone__heading col-xs-12 d-none d-sm-inline-flex">
                <h3 class="h3">@Html.Raw(Model.HeaderLabel)</h3>
            </div>
            <div class="timezone__dropdown col-xs-12">
                <label for="timezone-selector" class="d-inline-block mr-g">@Html.Raw(Model.DropdownLabel)</label>
                <div class="custom-select d-inline-block my-2">
                    <select class="custom-select-input btn btn-faint-secondary border-transparent" id="timezone-selector" onchange="onTimeZoneChange()">
                        <option value="America/Adak" standard-name="Aleutian Standard Time">(UTC-10:00) Aleutian Islands</option>
                        <option value="Pacific/Honolulu" standard-name="Hawaiian Standard Time">(UTC-10:00) Hawaii</option>
                        <option value="Pacific/Marquesas" standard-name="Marquesas Standard Time">(UTC-09:30) Marquesas Islands</option>
                        <option value="America/Anchorage" standard-name="Alaskan Standard Time">(UTC-09:00) Alaska</option>
                        <option value="America/Tijuana" standard-name="Pacific Standard Time (Mexico)">(UTC-08:00) Baja California</option>
                        <option value="America/Los_Angeles" standard-name="Pacific Standard Time">(UTC-08:00) Pacific Time (US &amp; Canada)</option>
                        <option value="America/Phoenix" standard-name="US Mountain Standard Time">(UTC-07:00) Arizona</option>
                        <option value="America/Chihuahua" standard-name="Mountain Standard Time (Mexico)">(UTC-07:00) Chihuahua, La Paz, Mazatlan</option>
                        <option value="America/Denver" standard-name="Mountain Standard Time">(UTC-07:00) Mountain Time (US &amp; Canada)</option>
                        <option value="America/Guatemala" standard-name="Central America Standard Time">(UTC-06:00) Central America</option>
                        <option value="America/Chicago" standard-name="Central Standard Time">(UTC-06:00) Central Time (US &amp; Canada)</option>
                        <option value="Pacific/Easter" standard-name="Easter Island Standard Time">(UTC-06:00) Easter Island</option>
                        <option value="America/Mexico_City" standard-name="Central Standard Time (Mexico)">(UTC-06:00) Guadalajara, Mexico City, Monterrey</option>
                        <option value="America/Regina" standard-name="Canada Central Standard Time">(UTC-06:00) Saskatchewan</option>
                        <option value="America/Bogota" standard-name="SA Pacific Standard Time">(UTC-05:00) Bogota, Lima, Quito, Rio Branco</option>
                        <option value="America/Cancun" standard-name="Eastern Standard Time (Mexico)">(UTC-05:00) Chetumal</option>
                        <option value="America/New_York" standard-name="Eastern Standard Time">(UTC-05:00) Eastern Time (US &amp; Canada)</option>
                        <option value="America/Port-au-Prince" standard-name="Haiti Standard Time">(UTC-05:00) Haiti</option>
                        <option value="America/Havana" standard-name="Cuba Standard Time">(UTC-05:00) Havana</option>
                        <option value="America/Indiana/Indianapolis" standard-name="US Eastern Standard Time">(UTC-05:00) Indiana (East)</option>
                        <option value="America/Grand_Turk" standard-name="Turks and Caicos Standard Time">(UTC-05:00) Turks and Caicos</option>
                        <option value="America/Asuncion" standard-name="Paraguay Standard Time">(UTC-04:00) Asuncion</option>
                        <option value="America/Halifax" standard-name="Atlantic Standard Time">(UTC-04:00) Atlantic Time (Canada)</option>
                        <option value="America/Caracas" standard-name="Venezuela Standard Time">(UTC-04:00) Caracas</option>
                        <option value="America/Cuiaba" standard-name="Central Brazilian Standard Time">(UTC-04:00) Cuiaba</option>
                        <option value="America/La_Paz" standard-name="SA Western Standard Time">(UTC-04:00) Georgetown, La Paz, Manaus, San Juan</option>
                        <option value="America/Santiago" standard-name="Pacific SA Standard Time">(UTC-04:00) Santiago</option>
                        <option value="America/St_Johns" standard-name="Newfoundland Standard Time">(UTC-03:30) Newfoundland</option>
                        <option value="America/Araguaina" standard-name="Tocantins Standard Time">(UTC-03:00) Araguaina</option>
                        <option value="America/Sao_Paulo" standard-name="E. South America Standard Time">(UTC-03:00) Brasilia</option>
                        <option value="America/Cayenne" standard-name="SA Eastern Standard Time">(UTC-03:00) Cayenne, Fortaleza</option>
                        <option value="America/Argentina/Buenos_Aires" standard-name="Argentina Standard Time">(UTC-03:00) City of Buenos Aires</option>
                        <option value="America/Godthab" standard-name="Greenland Standard Time">(UTC-03:00) Greenland</option>
                        <option value="America/Montevideo" standard-name="Montevideo Standard Time">(UTC-03:00) Montevideo</option>
                        <option value="America/Punta_Arenas" standard-name="Magallanes Standard Time">(UTC-03:00) Punta Arenas</option>
                        <option value="America/Miquelon" standard-name="Saint Pierre Standard Time">(UTC-03:00) Saint Pierre and Miquelon</option>
                        <option value="America/Bahia" standard-name="Bahia Standard Time">(UTC-03:00) Salvador</option>
                        <option value="Atlantic/Azores" standard-name="Azores Standard Time">(UTC-01:00) Azores</option>
                        <option value="Europe/London" standard-name="GMT Standard Time">(UTC&#x2B;00:00) Dublin, Edinburgh, Lisbon, London</option>
                        <option value="Atlantic/Reykjavik" standard-name="Greenwich Standard Time">(UTC&#x2B;00:00) Monrovia, Reykjavik</option>
                        <option value="Africa/Sao_Tome" standard-name="Sao Tome Standard Time">(UTC&#x2B;00:00) Sao Tome</option>
                        <option value="Africa/Casablanca" standard-name="Morocco Standard Time">(UTC&#x2B;01:00) Casablanca</option>
                        <option value="Europe/Berlin" standard-name="W. Europe Standard Time">(UTC&#x2B;01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                        <option value="Europe/Budapest" standard-name="Central Europe Standard Time">(UTC&#x2B;01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                        <option value="Europe/Paris" standard-name="Romance Standard Time">(UTC&#x2B;01:00) Brussels, Copenhagen, Madrid, Paris</option>
                        <option value="Europe/Warsaw" standard-name="Central European Standard Time">(UTC&#x2B;01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                        <option value="Africa/Lagos" standard-name="W. Central Africa Standard Time">(UTC&#x2B;01:00) West Central Africa</option>
                        <option value="Asia/Amman" standard-name="Jordan Standard Time">(UTC&#x2B;02:00) Amman</option>
                        <option value="Europe/Bucharest" standard-name="GTB Standard Time">(UTC&#x2B;02:00) Athens, Bucharest</option>
                        <option value="Asia/Beirut" standard-name="Middle East Standard Time">(UTC&#x2B;02:00) Beirut</option>
                        <option value="Africa/Cairo" standard-name="Egypt Standard Time">(UTC&#x2B;02:00) Cairo</option>
                        <option value="Europe/Chisinau" standard-name="E. Europe Standard Time">(UTC&#x2B;02:00) Chisinau</option>
                        <option value="Asia/Damascus" standard-name="Syria Standard Time">(UTC&#x2B;02:00) Damascus</option>
                        <option value="Africa/Johannesburg" standard-name="South Africa Standard Time">(UTC&#x2B;02:00) Harare, Pretoria</option>
                        <option value="Europe/Kiev" standard-name="FLE Standard Time">(UTC&#x2B;02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                        <option value="Africa/Khartoum" standard-name="Sudan Standard Time">(UTC&#x2B;02:00) Khartoum</option>
                        <option value="Africa/Tripoli" standard-name="Libya Standard Time">(UTC&#x2B;02:00) Tripoli</option>
                        <option value="Africa/Windhoek" standard-name="Namibia Standard Time">(UTC&#x2B;02:00) Windhoek</option>
                        <option value="Asia/Baghdad" standard-name="Arabic Standard Time">(UTC&#x2B;03:00) Baghdad</option>
                        <option value="Europe/Istanbul" standard-name="Turkey Standard Time">(UTC&#x2B;03:00) Istanbul</option>
                        <option value="Asia/Riyadh" standard-name="Arab Standard Time">(UTC&#x2B;03:00) Kuwait, Riyadh</option>
                        <option value="Europe/Minsk" standard-name="Belarus Standard Time">(UTC&#x2B;03:00) Minsk</option>
                        <option value="Africa/Nairobi" standard-name="E. Africa Standard Time">(UTC&#x2B;03:00) Nairobi</option>
                        <option value="Asia/Tehran" standard-name="Iran Standard Time">(UTC&#x2B;03:30) Tehran</option>
                        <option value="Asia/Dubai" standard-name="Arabian Standard Time">(UTC&#x2B;04:00) Abu Dhabi, Muscat</option>
                        <option value="Europe/Astrakhan" standard-name="Astrakhan Standard Time">(UTC&#x2B;04:00) Astrakhan, Ulyanovsk</option>
                        <option value="Asia/Baku" standard-name="Azerbaijan Standard Time">(UTC&#x2B;04:00) Baku</option>
                        <option value="Indian/Mauritius" standard-name="Mauritius Standard Time">(UTC&#x2B;04:00) Port Louis</option>
                        <option value="Europe/Saratov" standard-name="Saratov Standard Time">(UTC&#x2B;04:00) Saratov</option>
                        <option value="Asia/Tbilisi" standard-name="Georgian Standard Time">(UTC&#x2B;04:00) Tbilisi</option>
                        <option value="Europe/Volgograd" standard-name="Volgograd Standard Time">(UTC&#x2B;04:00) Volgograd</option>
                        <option value="Asia/Yerevan" standard-name="Caucasus Standard Time">(UTC&#x2B;04:00) Yerevan</option>
                        <option value="Asia/Kabul" standard-name="Afghanistan Standard Time">(UTC&#x2B;04:30) Kabul</option>
                        <option value="Asia/Tashkent" standard-name="West Asia Standard Time">(UTC&#x2B;05:00) Ashgabat, Tashkent</option>
                        <option value="Asia/Karachi" standard-name="Pakistan Standard Time">(UTC&#x2B;05:00) Islamabad, Karachi</option>
                        <option value="Asia/Qyzylorda" standard-name="Qyzylorda Standard Time">(UTC&#x2B;05:00) Qyzylorda</option>
                        <option value="Asia/Kolkata" standard-name="India Standard Time">(UTC&#x2B;05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                        <option value="Asia/Colombo" standard-name="Sri Lanka Standard Time">(UTC&#x2B;05:30) Sri Jayawardenepura</option>
                        <option value="Asia/Kathmandu" standard-name="Nepal Standard Time">(UTC&#x2B;05:45) Kathmandu</option>
                        <option value="Asia/Almaty" standard-name="Central Asia Standard Time">(UTC&#x2B;06:00) Astana</option>
                        <option value="Asia/Dhaka" standard-name="Bangladesh Standard Time">(UTC&#x2B;06:00) Dhaka</option>
                        <option value="Asia/Omsk" standard-name="Omsk Standard Time">(UTC&#x2B;06:00) Omsk</option>
                        <option value="Asia/Yangon" standard-name="Myanmar Standard Time">(UTC&#x2B;06:30) Yangon (Rangoon)</option>
                        <option value="Asia/Bangkok" standard-name="SE Asia Standard Time">(UTC&#x2B;07:00) Bangkok, Hanoi, Jakarta</option>
                        <option value="Asia/Barnaul" standard-name="Altai Standard Time">(UTC&#x2B;07:00) Barnaul, Gorno-Altaysk</option>
                        <option value="Asia/Hovd" standard-name="W. Mongolia Standard Time">(UTC&#x2B;07:00) Hovd</option>
                        <option value="Asia/Tomsk" standard-name="Tomsk Standard Time">(UTC&#x2B;07:00) Tomsk</option>
                        <option value="Asia/Shanghai" standard-name="China Standard Time">(UTC&#x2B;08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                        <option value="Australia/Perth" standard-name="W. Australia Standard Time">(UTC&#x2B;08:00) Perth</option>
                        <option value="Asia/Taipei" standard-name="Taipei Standard Time">(UTC&#x2B;08:00) Taipei</option>
                        <option value="Asia/Ulaanbaatar" standard-name="Ulaanbaatar Standard Time">(UTC&#x2B;08:00) Ulaanbaatar</option>
                        <option value="Australia/Eucla" standard-name="Aus Central W. Standard Time">(UTC&#x2B;08:45) Eucla</option>
                        <option value="Asia/Chita" standard-name="Transbaikal Standard Time">(UTC&#x2B;09:00) Chita</option>
                        <option value="Asia/Tokyo" standard-name="Tokyo Standard Time">(UTC&#x2B;09:00) Osaka, Sapporo, Tokyo</option>
                        <option value="Asia/Pyongyang" standard-name="North Korea Standard Time">(UTC&#x2B;09:00) Pyongyang</option>
                        <option value="Asia/Seoul" standard-name="Korea Standard Time">(UTC&#x2B;09:00) Seoul</option>
                        <option value="Australia/Adelaide" standard-name="Cen. Australia Standard Time">(UTC&#x2B;09:30) Adelaide</option>
                        <option value="Australia/Darwin" standard-name="AUS Central Standard Time">(UTC&#x2B;09:30) Darwin</option>
                        <option value="Australia/Brisbane" standard-name="E. Australia Standard Time">(UTC&#x2B;10:00) Brisbane</option>
                        <option value="Australia/Sydney" standard-name="AUS Eastern Standard Time">(UTC&#x2B;10:00) Canberra, Melbourne, Sydney</option>
                        <option value="Pacific/Port_Moresby" standard-name="West Pacific Standard Time">(UTC&#x2B;10:00) Guam, Port Moresby</option>
                        <option value="Australia/Hobart" standard-name="Tasmania Standard Time">(UTC&#x2B;10:00) Hobart</option>
                        <option value="Australia/Lord_Howe" standard-name="Lord Howe Standard Time">(UTC&#x2B;10:30) Lord Howe Island</option>
                        <option value="Pacific/Bougainville" standard-name="Bougainville Standard Time">(UTC&#x2B;11:00) Bougainville Island</option>
                        <option value="Asia/Magadan" standard-name="Magadan Standard Time">(UTC&#x2B;11:00) Magadan</option>
                        <option value="Pacific/Norfolk" standard-name="Norfolk Standard Time">(UTC&#x2B;11:00) Norfolk Island</option>
                        <option value="Asia/Sakhalin" standard-name="Sakhalin Standard Time">(UTC&#x2B;11:00) Sakhalin</option>
                        <option value="Pacific/Guadalcanal" standard-name="Central Pacific Standard Time">(UTC&#x2B;11:00) Solomon Is., New Caledonia</option>
                        <option value="Pacific/Auckland" standard-name="New Zealand Standard Time">(UTC&#x2B;12:00) Auckland, Wellington</option>
                        <option value="Pacific/Fiji" standard-name="Fiji Standard Time">(UTC&#x2B;12:00) Fiji</option>
                        @*<option value="Asia/Kamchatka" standard-name="Kamchatka Standard Time">(UTC&#x2B;12:00) Petropavlovsk-Kamchatsky - Old</option>*@
                        <option value="Pacific/Chatham" standard-name="Chatham Islands Standard Time">(UTC&#x2B;12:45) Chatham Islands</option>
                        <option value="Pacific/Tongatapu" standard-name="Tonga Standard Time">(UTC&#x2B;13:00) Nuku&#x27;alofa</option>
                        <option value="Pacific/Apia" standard-name="Samoa Standard Time">(UTC&#x2B;13:00) Samoa</option>
                        <option value="Pacific/Kiritimati" standard-name="Line Islands Standard Time">(UTC&#x2B;14:00) Kiritimati Island</option>
                    </select>
                    <span class="custom-select-arrow" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    function setTimeZone() {
        var localTimeZone = getCookie("store-communities-local-timezone");
        if (localTimeZone == "") {
            localTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        }
        $("#timezone-selector").val(localTimeZone);
        setCookie("store-communities-local-timezone", $("#timezone-selector").val(), 3);
        setCookie("store-communities-local-timezone-alt", encodeURI($("#timezone-selector option:selected").attr("standard-name")), 3);
    }

    function onTimeZoneChange() {
        setCookie("store-communities-local-timezone", $("#timezone-selector").val(), 3);
        setCookie("store-communities-local-timezone-alt", encodeURI($("#timezone-selector option:selected").attr("standard-name")), 3);
        location.reload();
    }

</script>