﻿@model MWFContentModel
@using VirtualCommunities.Classes

<!-- quick links: @Model.Key -->
@if (Model.Heading != "-supress-")
{
    <section class="container quick-links">
        <div class="d-flex w-100 flex-column align-items-center">
            <h3>@Html.Raw(Model.Heading)</h3>
        </div>

        <nav class="d-flex w-100 flex-column align-items-center" aria-labelledby="linksWithTitle">
            <ul class="d-block text-center d-sm-flex flex-wrap list-inline justify-content-center">

                @{
                    bool continueLoop = true;
                    int counter = 0;

                    while (continueLoop)
                    {
                        counter++;
                        MWFContentModelService cp = ViewData["content-model-service"] as MWFContentModelService;
                        MWFContentModel slot = cp.GetContentByKey(Model.Key + "-slot" + counter);
                        if (slot.IsLoaded)
                        {
                            <!-- quick links slot: @slot.Key -->
                            <li class="font-weight-semibold mx-4 my-3 d-flex flex-column align-items-center" data-group="click">
                                <img src="@slot.ImageUrl" class="" alt="@slot.AltTag" title="@slot.AltTag" width="120" height="120">
                                @if (string.IsNullOrEmpty(slot.Link1Url))
                                {
                                    <span class="my-2">@Html.Raw(slot.Link1Text)</span>
                                }
                                else
                                {
                                    <a class="my-2" href="@slot.Link1Url">@Html.Raw(slot.Link1Text)</a>
                                }
                            </li>
                        }
                        else
                        {
                            continueLoop = false;
                        }
                    }
                }
            </ul>
        </nav>
    </section>
}