﻿@model MWFContentModel
@using VirtualCommunities.Classes

<!-- multi hero: @Model.Key -->
<section class="container">
    <div class="card material-surface mx-ng mx-md-0 mb-g mb-md-4 ">
        <div class="row m-0 h-100">
            <div class="col-md-7 p-0 pl-md-g align-self-stretch">
                <picture>
                    <source srcset="@Model.ImageUrl-1842x1036-1x.jpg, @Model.ImageUrl-3684x2072-2x.jpg 2x" media="(min-width: 1400px)">
                    <source srcset="@Model.ImageUrl-1468x826-1x.jpg, @Model.ImageUrl-2972x1652-2x.jpg 2x" media="(min-width: 1084px)">
                    <source srcset="@Model.ImageUrl-1236x1236-1x.jpg, @Model.ImageUrl-2472x2472-2x.jpg 2x" media="(min-width: 860px)">
                    <source srcset="@Model.ImageUrl-1718x966-1x.jpg, @Model.ImageUrl-3436x1932-2x.jpg 2x" media="(min-width: 540px)">
                    <img src="@Model.ImageUrl-1078x606-1x.jpg" class="img-fluid img-object-cover" alt="@Model.AltTag">
                </picture>
            </div>
            <div class="col-md-5 order-md-first pl-xl-g pr-xl-0 d-flex py-2 py-sm-0 px-lg-4">
                <div class="card-body py-4 py-sm-5 px-g px-sm-4 pl-md-4 pr-md-g px-xl-5 align-self-center">
                    <h1 class="h1">@Html.Raw(Model.Heading)</h1>
                    <div class="my-4">
                        <p>@Html.Raw(Model.Paragraph)</p>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Link1Text))
                    {
                        <div class="link-group">
                            <a href="@Model.Link1Url" class="btn btn-primary" title="@Html.Raw(Model.Link1Text)" aria-label="@Html.Raw(Model.Link1Text)">@Html.Raw(Model.Link1Text)</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @{
            MWFContentModelService cp = ViewData["content-model-service"] as MWFContentModelService;
            MWFContentModel left = cp.GetContentByKey(Model.Key + "-left");
            MWFContentModel right = cp.GetContentByKey(Model.Key + "-right");
        }
        <div class="col-md-6 mb-g mb-md-0">
            <div class="card h-100 material-surface">
                <!-- multi hero left: @left.Key -->
                <div class="row h-100">
                    <div class="col align-self-stretch">
                        <picture>
                            <source srcset="@left.ImageUrl-788x444-1x.jpg, @left.ImageUrl-1576x888-2x.jpg 2x" media="(min-width: 1400px)">
                            <source srcset="@left.ImageUrl-618x348-1x.jpg, @left.ImageUrl-1236x696-2x.jpg 2x" media="(min-width: 1084px)">
                            <source srcset="@left.ImageUrl-518x518-1x.jpg, @left.ImageUrl-1036x1036-2x.jpg 2x" media="(min-width: 860px)">
                            <source srcset="@left.ImageUrl-836x836-1x.jpg, @left.ImageUrl-1672x1672-2x.jpg 2x" media="(min-width: 540px)">
                            <img src="@left.ImageUrl-518x518-1x.jpg" class="img-fluid img-object-cover" alt="@left.AltTag">
                        </picture>
                    </div>
                    <div class="col d-flex pl-0 pl-sm-g">
                        <div class="card-body py-4 py-lg-5 pr-g pr-sm-4 pr-md-4 align-self-center">
                            <h2 class="h4">@Html.Raw(left.Heading)</h2>
                            <div class="link-group my-3">
                                <a href="@left.Link1Url" class="cta" title="@Html.Raw(left.Link1Text)" aria-label="@Html.Raw(left.Link1Text)">@Html.Raw(left.Link1Text)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100 material-surface">
                <!-- multi hero right: @right.Key -->
                <div class="row h-100">
                    <div class="col align-self-stretch">
                        <picture>
                            <source srcset="@right.ImageUrl-788x444-1x.jpg, @right.ImageUrl-1576x888-2x.jpg 2x" media="(min-width: 1400px)">
                            <source srcset="@right.ImageUrl-618x348-1x.jpg, @right.ImageUrl-1236x696-2x.jpg 2x" media="(min-width: 1084px)">
                            <source srcset="@right.ImageUrl-518x518-1x.jpg, @right.ImageUrl-1036x1036-2x.jpg 2x" media="(min-width: 860px)">
                            <source srcset="@right.ImageUrl-836x836-1x.jpg, @right.ImageUrl-1672x1672-2x.jpg 2x" media="(min-width: 540px)">
                            <img src="@right.ImageUrl-518x518-1x.jpg" class="img-fluid img-object-cover" alt="@Html.Raw(right.AltTag)">
                        </picture>
                    </div>
                    <div class="col d-flex pl-0 pl-sm-g">
                        <div class="card-body py-4 py-lg-5 pr-g pr-sm-4 pr-md-4 align-self-center">
                            <h2 class="h4">@Html.Raw(right.Heading)</h2>

                            <div class="link-group my-3">
                                <a href="@right.Link1Url" class="cta" title="@Html.Raw(right.Link1Text)" aria-label="@Html.Raw(right.Link1Text)">@Html.Raw(right.Link1Text)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>