﻿@model BreadcrumbModel
@using VirtualCommunities.Classes

<!-- breadcrumb -->
<nav class="container" aria-label="@Model.AriaIntroLabel">
    <ol class="breadcrumb">
        @for (int i = 0; i < Model.Levels.Length; i++)
        {
            if (@Model.Levels[i].Key == "#")
            {
                <li class="breadcrumb-item active" aria-current="page">@Html.Raw(Model.Levels[i].Value)</li>
                break;
            }
            else
            {
                <li class="breadcrumb-item"><a href="@Model.Levels[i].Key">@Html.Raw(Model.Levels[i].Value)</a></li>
            }
        }
    </ol>
</nav>