﻿@model MWFContentModel
@using VirtualCommunities.Classes

<!-- hero: @Model.Key -->
<section class="container">
    <div class="card material-surface ">
        <div class="row m-0 h-100">
            <div class="col-md-7 p-0 pl-md-g align-self-stretch">
                <picture>
                    <source srcset="@Model.ImageUrl-1842x1036-1x.jpg, @Model.ImageUrl-3684x2072-2x.jpg 2x" media="(min-width: 1400px)">
                    <source srcset="@Model.ImageUrl-1468x826-1x.jpg, @Model.ImageUrl-2972x1652-2x.jpg 2x" media="(min-width: 1084px)">
                    <source srcset="@Model.ImageUrl-1236x1236-1x.jpg, @Model.ImageUrl-2472x2472-2x.jpg 2x" media="(min-width: 860px)">
                    <source srcset="@Model.ImageUrl-1718x966-1x.jpg, @Model.ImageUrl-3436x1932-2x.jpg 2x" media="(min-width: 540px)">
                    <img src="@Model.ImageUrl-1078x606-1x.jpg" class="img-fluid img-object-cover" alt="@Model.AltTag">
                </picture>
            </div>
            <div class="col-md-5 order-md-first pl-xl-g pr-xl-0 d-flex py-2 py-sm-0 px-lg-4">
                <div class="card-body py-4 py-sm-5 px-g px-sm-4 pl-md-4 pr-md-g px-xl-5 align-self-center">
                    <@Model.HeadingTag class="@Model.HeadingTag">@Html.Raw(Model.Heading)</@Model.HeadingTag>
                    <div class="my-4">
                        <p>@Html.Raw(Model.Paragraph)</p>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.Link1Text))
                    {
                        <div class="link-group my-4">
                            <a href="@Model.Link1Url" class="btn btn-primary" title="@Html.Raw(Model.Link1Text)" aria-label="@Html.Raw(Model.Link1Text)">@Html.Raw(Model.Link1Text)</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>