﻿@model TabHeaderModel
@using VirtualCommunities.Classes

<!-- tab header -->
<section class="container">
    <div class="row">
        <div data-mount="tab" class="col-12 tab-horizontal">
            <div class="tab-overflow">
                <div class="tab-window">
                    <div class="tab-group justify-content-left" role="tablist" aria-label="explicit aria label describing tab list">
                        <a id="all-tab" data-value="" class="tab-group-item" href="#tab1" role="tab" data-toggle="list" aria-controls="tab1" aria-selected="true">
                            <img class="tab-icon" height="20" src="~/en-us/store/workshops-training-and-events/images/icon-all.png" /><span class="tab-label">@Html.Raw(Model.TabNames[0])</span>
                        </a>
                        <a id="students-tab" data-value="201" class="tab-group-item" href="#tab2" role="tab" data-toggle="list" aria-controls="tab2" aria-selected="false" tabindex="-1">
                            <img class="tab-icon" height="20" src="~/en-us/store/workshops-training-and-events/images/icon-student.png" /><span class="tab-label">@Html.Raw(Model.TabNames[1])</span>
                        </a>
                        <a id="teachers-tab" data-value="202" class="tab-group-item" href="#tab2" role="tab" data-toggle="list" aria-controls="tab3" aria-selected="false" tabindex="-1">
                            <img class="tab-icon" height="20" src="~/en-us/store/workshops-training-and-events/images/icon-teacher.png" /><span class="tab-label">@Html.Raw(Model.TabNames[2])</span>
                        </a>
                        <a id="professionals-tab" data-value="203" class="tab-group-item" href="#tab2" role="tab" data-toggle="list" aria-controls="tab4" aria-selected="false" tabindex="-1">
                            <img class="tab-icon" height="20" src="~/en-us/store/workshops-training-and-events/images/icon-professional.png" /><span class="tab-label">@Html.Raw(Model.TabNames[3])</span>
                        </a>
                        <a id="gamers-tab" data-value="204" class="tab-group-item" href="#tab2" role="tab" data-toggle="list" aria-controls="tab5" aria-selected="false" tabindex="-1">
                            <img class="tab-icon" height="20" src="~/en-us/store/workshops-training-and-events/images/icon-gamer.png" /><span class="tab-label">@Html.Raw(Model.TabNames[4])</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="tab-arrows">
                <button class="arrow-prev" tabindex="-1" aria-hidden="true" data-width="40">
                    <span class="sr-only">@Html.Raw(Model.Previous)</span>
                </button>
                <button class="arrow-next" tabindex="-1" aria-hidden="true" data-width="40">
                    <span class="sr-only">@Html.Raw(Model.Next)</span>
                </button>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".tab-group-item").click(function () {
            currentPage = 1;
            program = $(this).attr("data-value");
            console.log(program + " click");
            updateHash();
            refreshEvents();
        });
        //TODO trap enter key
    });
</script>
