﻿@model FilterContentModel
@using VirtualCommunities.Classes

<!-- filter -->
    <div class="row">
        <div class="col-6 form-row">
            <div class="mr-2 col">
                <div class="input-group">
                    <input id="keyword-search" type="text" role="combobox" class="form-control search-input border-right-0 px-g py-2">
                    <div class="result-status sr-only" aria-atomic="true" aria-live="polite"></div>
                    <div class="input-group-append">
                        <button id="keyword-search-button" class="btn border-neutral-400 bg-body glyph-append glyph-append-search border-left-0 pl-2" type="button" aria-label="search button"></button>
                    </div>
                </div>
            </div>

            <div class="dropdown mr-2 col">
                <button class="btn btn-outline-dark w-100 text-left dropdown-toggle" id="dropdown-topic" aria-controls="dropdown-topic-menu" data-toggle="dropdown" aria-expanded="false">@Model.TopicsLabel</button>
                <div class="dropdown-menu dropdown-menu-lg p-4 text-nowrap" id="dropdown-topic-menu" style="min-width: 288px;">
                    <form data-mount="validation" novalidate="">
                        <fieldset id="dropdown-topic-items" class="form-group">
                        </fieldset>
                        <button class="btn btn-primary mt-g float-right apply-filter-button" type="button">@Html.Raw(Model.ApplyFiltersLabel)</button>
                    </form>
                </div>
            </div>

            <div class="dropdown mr-2 col">
                <button class="btn btn-outline-dark w-100 text-left dropdown-toggle" id="dropdown-when" aria-controls="dropdown-when-menu" data-toggle="dropdown" aria-expanded="false">@Model.DatesLabel</button>
                <div class="dropdown-menu dropdown-menu-lg p-4 text-nowrap" id="dropdown-when-menu" style="min-width: 288px;">
                    <form data-mount="validation" novalidate="">
                        <fieldset id="dropdown-when-items" class="form-group">
                        </fieldset>
                        <button class="btn btn-primary mt-g float-right apply-filter-button" type="button">@Html.Raw(Model.ApplyFiltersLabel)</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-6 text-right">
            <nav id="pagination-nav" aria-label="" class="d-inline-block">
                <ul id="pagination" class="pagination">
                </ul>
            </nav>
        </div>
    </div>

<div id="applied-filters-row" class="row" style="display: none;">
    <div class="col-12 mb-3 my-2">
        <h3 class=" d-inline-block base font-weight-normal mr-2">@Html.Raw(Model.AppliedFiltersLabel):&nbsp;</h3>
        <p class="sr-only">@Html.Raw(Model.ToRemoveFilterLabel)</p>
        <ul id="applied-filters" class="list-inline d-inline-block mb-0">
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 mt-g">
        <div></div>
        <h3 id="results-data" class="h4">@Html.Raw(Model.ResultsLabel) (<span id="current-first">0</span> @Html.Raw(Model.ResultsThroughLabel) <span id="current-last">0</span> @Html.Raw(Model.ResultsOfLabel) <span id="total-results">0</span>)</h3>
        <h3 id="results-empty" class="h4">No results found.</h3>
    </div>
</div>
@*<script>
        window.onload = function () {
            try {
                var autocomplete = document.querySelector('[data-mount="autocomplete"]');
                new mwf.AutoComplete({
                    target: autocomplete,
                    data: autoCompleteData
                });
            } catch (e) {
                // Fail gracefully
            }
        }

        var autoCompleteData = [{
            title: 'Alberta'
        }, {
            title: 'British Columbia',
            abbreviation: 'BC'
        }, {
            title: 'Manitoba',
            abbreviation: 'MB'
        }, {
            title: 'New Brunswick',
            abbreviation: 'NB'
        }, {
            title: 'Newfoundland and Labrador',
            abbreviation: 'NL'
        }, {
            title: 'Nova Scotia',
            abbreviation: 'NS'
        }, {
            title: 'Northwest Territories',
            abbreviation: 'NT'
        }, {
            title: 'Nunavut',
            abbreviation: 'NU'
        }, {
            title: 'Ontario',
            abbreviation: 'ON'
        }, {
            title: 'Prince Edward Island',
            abbreviation: 'PE'
        }, {
            title: 'Quebec',
            abbreviation: 'QC'
        }, {
            title: 'Saskatchewan',
            abbreviation: 'SK'
        }, {
            title: 'Yukon',
            abbreviation: 'YT'
        }];
    </script>*@
