﻿@model MWFContentModel
@using VirtualCommunities.Classes

<!-- area heading: @Model.Key -->
@if (!string.IsNullOrEmpty(Model.Heading))
{
    <section class="container">
        <div class="area-heading text-md-center">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto">
                    <@Model.HeadingTag class="@Model.HeadingTag">@Html.Raw(Model.Heading)</@Model.HeadingTag>
                </div>
                <div class="col-12 col-md-8 col-xl-6 mx-auto">
                    <p class="mb-3">@Html.Raw(Model.Paragraph)</p>
                    <div class="link-group">
                        @if (!string.IsNullOrEmpty(Model.Link1Text))
                        {
                            <a href="@Model.Link1Url" class="cta" title="@Html.Raw(Model.Link1Text)" aria-label="@Html.Raw(Model.Link1Text)">@Html.Raw(Model.Link1Text)</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
}