﻿@model PaginationContentModel
@using VirtualCommunities.Classes

<!-- pagination-->
<section class="container">
    <div class="row">
        <div class="col-12">
            <nav id="pagination-nav2" aria-label="" class="d-inline-block">
            </nav>
            <div class="float-md-right ml-3">
                <label for="page-size" class="mr-2 text-neutral-400">@Html.Raw(Model.ItemsPerPage)</label>
                <div class="custom-select d-inline-block">
                    <select class="custom-select-input" id="page-size" onchange="refreshEvents();">
                        <option value="12">12</option>
                        <option value="24" selected>24</option>
                        <option value="48">48</option>
                        <option value="96">96</option>
                    </select>
                    <span class="custom-select-arrow" aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</section> 