﻿<!-- WW slim hero right: -->
<section class="container slim-hero--right p-0 p-md-g">
    <div class="card material-surface">
        <div class="row no-gutters">
            <div class="col-md-6 align-self-stretch">
                <picture>
                    <source srcset="/en-us/store/workshops-training-and-events/images/ww84-hero-slim-1842x1036-1x.jpg, /en-us/store/workshops-training-and-events/images/ww84-hero-slim-3684x2072-2x.jpg 2x" media="(min-width: 1550px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/ww84-hero-slim-1468x826-1x.jpg, /en-us/store/workshops-training-and-events/images/ww84-hero-slim-2936x1652-2x.jpg 2x" media="(min-width: 1250px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/ww84-hero-slim-1236x1236-1x.jpg, /en-us/store/workshops-training-and-events/images/ww84-hero-slim-2472x2472-2x.jpg 2x" media="(min-width: 760px)">
                    <source srcset="/en-us/store/workshops-training-and-events/images/ww84-hero-slim-1718x966-1x.jpg, /en-us/store/workshops-training-and-events/images/ww84-hero-slim-3436x1932-2x.jpg 2x" media="(min-width: 540px)">
                    <img src="/en-us/store/workshops-training-and-events/images/ww84-hero-slim-1078x606-1x.jpg" class="img-fluid img-object-cover" alt="WONDER WOMAN 1984 poster image">
                </picture>
            </div>
            <div class="d-flex col-md-6">
                <div class="card-body px-g px-md-5 py-5 align-self-center">
                    <h2 class="h2">Enter the WONDER WOMAN 1984 coding sweepstakes</h2>
                    <div class="mb-4">
                        <p>
                            Register for one of our WONDER WOMAN 1984-inspired coding classes below and upon completion of the class you'll receive a 
                            top secret code that will unlock your ability to enter for a chance to win an exclusive Xbox inspired by WONDER WOMAN 1984.*
                        </p>
                    </div>
                    <div class="my-4">
                        <label for="secret-code">Type your secret code here to enter the sweepstakes</label>
                        <div class="form-row">
                            <div class="col">
                                <input class="form-control" type="text" id="secret-code" name="secret-code">
                            </div>
                            <div class="col-auto">
                                <button id="secret-code-button" class="btn btn-primary" type="button">Submit</button>
                            </div>
                        </div>
                        <label id="secret-code-error" style="visibility: hidden; color: red;">Please enter the code your received at the workshop</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<script>

    $(document).ready(function () {
        $("#secret-code-button").click(function () {
            checkCode();
        });

        $("#secret-code").keypress(function (evt) {
            $("#secret-code-error").css("visibility", "hidden");
            $("#secret-code").css("border-color", "#505050");
            if (evt.which == 13) {
                checkCode();
            }
        });
    });

    function checkCode() {
        var code = $("#secret-code").val();
        var jqxhr = $.getJSON("/en-us/store/workshops-training-and-events/code-check?code=" + encodeURI(code), function () {
            var data = jqxhr.responseJSON;
            console.log(data.url);
            if (data.url == "") {
                $("#secret-code-error").css("visibility", "visible");
                $("#secret-code").css("border-color", "red");
            }
            else {
                location.href = data.url;
            }
        })
            .fail(function (xhr, status, error) {
                var errorMessage = xhr.status + ': ' + xhr.statusText;
                console.log('Error - ' + errorMessage);
            });
    }
</script>

@*<link href="~/en-us/store/workshops-training-and-events/css/focus-point.css" rel="stylesheet" />
<script src="~/en-us/store/workshops-training-and-events/js/focus-point.js"></script>
<script>
    $(document).ready(function () {

        //Activate focus points
        $('.focuspoint').focusPoint();

    });
</script>

<section class="container">

    <div class="focuspoint row"
         data-focus-x="0.3"
         data-focus-y="0.3"
         data-image-w="2400"
         data-image-h="1350">
        <img src="/en-us/store/workshops-training-and-events/images/ww-hero.png" alt="" />
    </div>

</section>*@