﻿<!-- WW slim hero right: -->
<section class="container slim-hero--right p-0 p-md-g">
    <div class="row">
        <div class="col-8" style="font-size: 10px;">
            *<b>NO PURCHASE OR PAYMENT IS NECESSARY.</b> Purchase or payment will not improve your chances of winning. Sweepstakes
            starts 12:01 am PT 8/10/20 and ends 11:59 pm PT on 8/23/20 for entry online and on 8/24/20 for the postmarking of mail-in entry.
            Open only to legal residents of 50 U.S. & DC, 13 or older. Subject to Official Rules available at
            <a href="https://aka.ms/mstoressweeps" target="_blank">https://aka.ms/mstoressweeps</a> and by mail.
            &quot;Wonder Woman Lasso of Truth Xbox One X Console&quot; console is designed for display purposes ONLY and not
            intended for actual gameplay. Prize also includes standard Xbox One X. See
            <a href="https://aka.ms/mstoressweeps" target="_blank">https://aka.ms/mstoressweeps</a> for complete details.
            Void where prohibited. Sponsor: Microsoft, One Microsoft Way, Redmond, WA 98052 USA.
        </div>
    </div>
</section>