﻿@using VirtualCommunities.Classes;
@{
    Layout = null;
    string lang = ViewData["locale"].ToString().Substring(0, 2);
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    <!-- version 3.4 : @DateTime.Now -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://www.microsoft.com/favicon.ico?v2" rel="shortcut icon" />

    <title>@Html.Raw(ViewData["meta-title"])</title>
    <meta name="Title" content="@Html.Raw(ViewData["meta-title"])" />
    <meta name="Description" content="@Html.Raw(ViewData["meta-description"])" />
    <meta name="MscomContentLocale" content="@ViewData["locale"]" />
    <meta name="keyword" content="@Html.Raw(ViewData["meta-keywords"])" />
    <link href="@ViewData["meta-canonical"]" rel="canonical" />

    <meta name="og:title" content="@Html.Raw(ViewData["meta-title"])" />
    <meta name="og:description" content="@Html.Raw(ViewData["meta-description"])" />
    <meta name="og:image" content="https://www.microsoft.com/en-us/store/workshops-training-and-events/images/site-image.jpg" />
    <meta name="og:url" content="@ViewData["meta-canonical"]" />
    <meta name="og:type" content="website" />
    <meta name="og:site_name" content="Microsoft Store" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@@MicrosoftStore" />
    <meta name="twitter:title" content="@Html.Raw(ViewData["meta-title"])" />
    <meta name="twitter:description" content="@Html.Raw(ViewData["meta-description"])" />
    <meta name="twitter:image" content="https://www.microsoft.com/en-us/store/workshops-training-and-events/images/site-image.jpg" />
    <meta name="twitter:image:alt" content="@ViewData["meta-image-alt"]" />

    @Html.Raw(ViewData["noindex"])

    <!-- TODO: inject most recent version of MWF build -->
    <link rel="stylesheet" href="/en-us/store/workshops-training-and-events/dist/css/main.min.css" />
    @ViewData["ShellCssIncludes"]
    <link rel="stylesheet" href="/en-us/store/workshops-training-and-events/css/site.css" asp-append-version="true" />
    <style>
        #meControl {
            visibility: hidden;
            width: 0;
        }
    </style>
    <script>
        // Picture element HTML5 shiv
        document.createElement("picture");
    </script>
    <script src="/en-us/store/workshops-training-and-events/lib/jquery/dist/jquery.js"></script>
    <script src="/en-us/store/workshops-training-and-events/dist/js/polyfills.js"></script>
</head>
<body id="page-top">
    @ViewData["ShellHeaderHtml"]
    <main role="presentation" id="mainArea">
        @RenderBody()
    </main>
    @ViewData["ShellFooterHtml"]

    <script src="/en-us/store/workshops-training-and-events/dist/js/bundle.js"></script>
    <script src="/en-us/store/workshops-training-and-events/js/site.js" asp-append-version="true"></script>
    @Html.Raw(ViewData["LocalizedStrings"])

    @ViewData["ShellJavaScriptIncludes"]
    @RenderSection("Scripts", required: false)

    <script src="https://az725175.vo.msecnd.net/scripts/jsll-4.js" type="text/javascript"></script>
    <script type="text/javascript">
        var config = {
            autoCapture: {
                lineage: true
            },
            coreData: {
                appId: "VirtualLearning"
            }
        };
        awa.init(config);
    </script>

    @*<script>
            var shellOptions = {
                meControlOptions: {
                    apiGeneration: 'GEN1',
                    rpData: {
                        msaInfo: {
                            signInUrl: 'signin',
                            signOutUrl: 'signout'
                        }
                    },
                    userData: {
                        idp: '<msa>',
                        firstName: '<FirstName>',
                        lastName: '<LastName>',
                        memberName: '<MemberName or Email>',
                        cid: '<ClientId>',
                        authenticatedState: '<User Not SignedIn: 3 --User is SignedIn: 1>'
                    }
                }
            };

            // If msCommonShell already exists, load it
            if (window.msCommonShell) {
                window.msCommonShell.load(shellOptions);
            }

            // If msCommonShell doesn't yet exist...
            else {

                // Load the me control once msCommonShell is ready
                window.onShellReadyToLoad = function () {
                    window.onShellReadyToLoad = null;
                    window.msCommonShell.load(shellOptions);
                };
            }
        </script>*@
</body>
</html>
